{% extends 'base.html.twig' %}

{% block title %}Changement du mot de passe{% endblock %}

{% block body %}

<div class="login">
    <h1 class="text-center mb-3">Changement du mot de passe</h1>
    <div class="reset">
        {{ form_start(passForm) }}
        {{ form_row(passForm.password) }}
        <button type="submit" class="btn btn-primary btn-sm">CHANGER MOT DE PASSE</button>
        {{ form_end(passForm) }}
    </div>
</div>
{% include "_partials/_footer.html.twig" %}

{% endblock %}