{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{% include "_partials/_flash.html.twig" %}

{% if app.user %}
{% if not app.user.isVerified or not app.user.isActivated %}
<div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:60px">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <div class="alert-message">
        Votre compte n'est pas encore activé. <br>
        {% if not app.user.isVerified %}Pensez à activer le lien envoyé dans votre mail d'inscription. {% endif %} <br>
        {% if app.user.isVerified and not app.user.isActivated %}Il sera activé dans un délai de 24 heures.{% endif %}
    </div>
</div>
{% endif %}
{% endif %}

<div class="homepage">
    <div class="homepage_text">
        <h1 class="text-center">Bienvenue</h1>
        <p>TRT Conseil est une agence de recrutement spécialisée dans l'hôtellerie et la restauration. </p>
        <ul>
            <li>Si vous êtes en recherche d'emploi, vous aurez accès à des milliers d'offres d'emploi.</li>
            <li>Si vous êtes recruteur, vous aurez la possibilité de publier des annonces.</li>
        </ul>
        <p>Pour pouvoir postuler ou publier des annonces, vous devrez avoir créé un compte.</p>

    </div>
</div>
{% endblock %}