{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1>Bienvenue</h1>
<p>TRT Conseil est une agence de recrutement spécialisée dans l'hôtellerie et la restauration. </p>
<p>Si vous êtes en recherche d'emploi ou bien si vous recherchez des employés, vous avez accès à des centaines d'offre et demande d'emplois.</p>
<p>Vous avez accès à un grand nombre d'offres et demandes d'emploi.  </p>
<p>Pour pouvoir postuler ou publier des annonces, vous devrez avoir créé un compte.</p>
{% endblock %}
