{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1>Offres d'emploi</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Intitulé</th>
                <th scope="col">Ville</th>
                <th scope="col">Description</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            {% for jobOffer in jobOffers %}
            <tr>
                <td>{{ jobOffer.title }}</td>
                <td>{{ jobOffer.city }}</td>
                <td>{{ jobOffer.description | raw }}</td>
                <td><a href="{{ app.user ? path('app_candidate_apply', { id : jobOffer.id }) : path('app_register' , {'type' : 'candidat'}) }}" type="button" class="btn btn-sm btn-primary" >POSTULER</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
