<h1>Bonjour, veuillez confirmer votre e-mail.</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon e-mail</a>. <br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement.
</p>
<p>
    <strong>TRT Conseil.</strong>
</p>
