{% extends 'base.html.twig' %}

{% block title %}Consultant{% endblock %}

{% block body %}
{# <h1>Bienvenue {{ app.user.email }}</h1> #}

{% include "_partials/_main.html.twig" %}

<section>
    {% include "_partials/_flash.html.twig" %}

    {% if accounts %}
    <h1>Comptes à valider</h1>
    <div class="accounts">

        {% for account in accounts %}
        <div class="account row">
            <div class="col-8 text-center" >
                {{ account.email }}
            </div>
            <div class="col-4">
                <a href="{{ path('app_consultant_verif_account', { id : account.id }) }}" type="button"
                    class="btn btn-primary btn-sm">VALIDER</a>
            </div>
        </div>
        {% endfor %}
        {% include "consultant/_links.html.twig" %}
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        <div class="alert-message">
            Aucun compte à valider.
        </div>
    </div>
    {% include "consultant/_links.html.twig" %}
    {% endif %}
</section>



{% endblock %}