{% extends 'base.html.twig' %}

{% block title %}Consultant{% endblock %}

{% block body %}
<h1>Bienvenue {{ app.user.email }}</h1>
<a href="">voir les annonces</a> <br>
<a href="">voir vos candidatures</a>

{% endblock %}
