.bubble{
    display: inline-block;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: white;
    color: rgb(37,37,41);
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.bubble-blue{
    background-color: rgb(13, 110, 253);
    color: white;
}

