<div class="d-flex justify-content-center">
    <a href="{{ path('app_recruiter_post') }}">Publier</a> &nbsp;|&nbsp;
    <a href="{{ path('app_recruiter_job_offers') }}">mes annonces</a> &nbsp;|&nbsp;
    <a href="{{ path('app_recruiter_applications') }}">mes candidatures</a>
</div>