<a href="{{ path('app_recruiter') }}">Accueil</a> <br>
<a href="{{ path('app_recruiter_post') }}">Publier une annonce</a> <br>
<a href="{{ path('app_recruiter_job_offers') }}">Voir mes annonces</a> <br>
<a href="{{ path('app_recruiter_applications') }}">Voir les candidatures</a>