{% extends 'base.html.twig' %}

{% block title %}Recruteur{% endblock %}

{% block body %}

{% include "_partials/_main.html.twig" %}
<section>
    {% include "_partials/_flash.html.twig" %}
    <div class="home">
        <h1>Bienvenue <br> {{ app.user.name ? app.user.name|capitalize : app.user.email }}</h1>

    <p>Nous vous proposons de :</p>
    <ul>
        <li>
            <a href="{{ path('app_recruiter_post') }}">publier une annonce</a>
        </li>
        <li>
            <a href="{{ path('app_recruiter_job_offers') }}">consulter vos annonces</a>
        </li>
        <li>
            <a href="{{ path('app_recruiter_applications') }}">consulter les candidatures</a>
        </li>
    </ul>
    <p>
        Vos annonces seront visibles par les employés après avoir été validées par nos consultants.
    </p>
    </div> 
</section>
{% endblock %}