.login {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%); 
    min-height: calc(100vh - 200px)
    h1 {
        font-size: 1.7em;
    }   
}



@media screen and (min-width : 500px){
    .login {
        width: 450px;
        h1 {
            font-size: 2em;
        }
        .reset {
            width: 350px;
            margin: auto;
        }
    }
}