.links {
    // padding-bottom: 110px;
    a {
        color: #ffffff80;
        color: #6c757d;
        // text-decoration: none;
    }
    .active {
        color : white;
    }
    a:hover {
        color: white;
    }
}