<div class="d-flex justify-content-center links">
    <a href="{{ path('app_candidate_job_offers') }}">les offres d'emploi</a> &nbsp;|&nbsp;
    <a href="{{ path('app_candidate_my_applications') }}">mes candidatures</a>&nbsp; <span class="bubble">{{
        applications|length }}</span>
</div>