<a href="{{ path('app_candidate') }}">Accueil</a> <br>
<a href="{{ path('app_candidate_job_offers') }}">Voir les annonces</a> <br>
<a href="{{ path('app_candidate_my_applications') }}">Voir mes candidatures</a>