{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
<h1>Bienvenue {{ app.user.email }}</h1>
{# <a href="{{ path('app_candidate_posts') }}">voir les annonces</a> <br> #}
<a href="#">voir les annonces</a> <br>
<a href="#">voir mes candidatures</a>

{% endblock %}
