{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}

{% include "_partials/_main.html.twig" %}
<section>
    {% include "_partials/_flash.html.twig" %}
    <div class="home">
        <h1>Bienvenue <br>  {{ (app.user.firstname and app.user.lastname) ? app.user.firstname|capitalize~"
            "~app.user.lastname|upper : app.user.email }}
        </h1>
        <p>Nous vous proposons de consulter :</p>
        <ul>
            <li>
                <a href="{{ path('app_candidate_job_offers') }}">les offres d'emploi</a>
            </li>
            <li>
                <a href="{{ path('app_candidate_my_applications') }}">vos candidatures</a>
            </li>
        </ul>
        <p>
            Lorsque vous postulerez à une offre d'emploi, afin que votre candidature soit traitée, vous devrez vous assurer d'avoir fourni un CV dans votre profil.                 
        </p>
        <p>
            Vos candidatures seront visibles par les recruteurs après avoir été validé par nos consultants.
        </p>
    </div>
</section>

{% endblock %}