<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changement du mot de passe</title>
</head>

<body>


    <h1>Changement du mot de passe</h1>
    <p>Bonjour {{ user.email }}</p>

    <p>
        Pour votre demande de changement de mot de passe, veuillez cliquer sur le lien ci -dessous : <br><br>
        <a href="{{ url|raw }}">{{ url|raw }}</a>.
    </p>

    <p>Cordialement,</p>
    <p>TRT Conseil</p>

</body>

</html>